In [70]:
import pandas as pd

In [71]:
df = pd.read_csv('movies_info.csv')
df

,Domestic Opening,Name,Domestic Distributor,Earliest Release Date,MPAA,Running Time,Genres,Overview,Actors,Film makers
0,Domestic Opening,Name,Domestic Distributor,Earliest Release Date,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,"$82,505,391",Dune: Part Two,Warner Bros.,"February 28, 2024 (EMEA, APAC)",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,"$80,006,561",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024 (APAC)",PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,"$57,989,905",Kung Fu Panda 4,Universal Pictures,"March 6, 2024 (APAC, EMEA)",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,"$45,004,673",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024 (Indonesia)",PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
...,...,...,...,...,...,...,...,...,...,...
1943,NaN,Orange,NaN,"December 12, 2015 (Japan)",NaN,2 hr 19 min,Comedy Drama Romance,A girl mysteriously receives advice from her f...,"['Tao Tsuchiya', 'Kento Yamazaki', 'Ryô Ryûsei...","['Kôjirô Hashimoto', 'Ichigo Takano', 'Arisa K..."
1944,"$9,670,235",Aloha,Sony Pictures Releasing,"May 29, 2015 (Domestic)",PG-13,1 hr 45 min,NaN,A celebrated military contractor returns to th...,"['Bradley Cooper', 'Rachel McAdams', 'Emma Sto...","['Cameron Crowe', 'Cameron Crowe', 'Cameron Cr..."
1945,"$3,424,702",Huevos: Little Rooster's Egg-cellent Adventure,Lionsgate Films,"August 20, 2015 (LATAM)",PG-13,1 hr 38 min,NaN,"Toto, a young chick born the run of the litter...","['Bruno Bichir', 'Carlos Espejel', 'Angélica V...","['Gabriel Riva Palacio Alatriste', 'Rodolfo Ri..."
1946,NaN,Dügün Dernek 2: Sünnet,NaN,"December 3, 2015 (Germany)",NaN,1 hr 52 min,Comedy,After seeing his son married in the first movi...,"['Ahmet Kural', 'Murat Cemcir', 'Rasim Öztekin...","['Selçuk Aydemir', 'Selçuk Aydemir', 'Fatih Do..."
1947,NaN,Look Who's Back,NaN,"October 8, 2015 (EMEA)",NaN,1 hr 56 min,Comedy Drama Fantasy,Adolf Hitler wakes up in the 21st century. He ...,"['Oliver Masucci', 'Thomas M. Köppl', 'Marc-Ma...","['David Wnendt', 'David Wnendt', 'Mizzi Meyer'..."

In [72]:
#xoá hàng đầu tiên 
df = df.drop(0)
df.head()

,Domestic Opening,Name,Domestic Distributor,Earliest Release Date,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,"$82,505,391",Dune: Part Two,Warner Bros.,"February 28, 2024 (EMEA, APAC)",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,"$80,006,561",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024 (APAC)",PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,"$57,989,905",Kung Fu Panda 4,Universal Pictures,"March 6, 2024 (APAC, EMEA)",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,"$45,004,673",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024 (Indonesia)",PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,"$28,659,004",Bob Marley: One Love,Paramount Pictures,"February 14, 2024 (11 markets)",PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."

In [73]:
#các ô trống trong data
df.isnull().sum()

Domestic Opening         711
Name                       0
Domestic Distributor     659
Earliest Release Date     60
MPAA                     872
Running Time              74
Genres                   579
Overview                  96
Actors                    74
Film makers               74
dtype: int64

In [74]:
#drop doanh thu domestic
df = df.drop(df.columns[0], axis=1)

In [75]:
#tách earliest release data thành ngày ra mắt và nơi ra mắt đầu tiên
# Tách thành hai cột earlies release date và earliest release region
df[['Earliest Release date', 'Earliest Release region']] = df['Earliest Release Date'].str.split('(', expand=True)

# Loại bỏ dấu ngoặc đơn ở cuối của cột 'region'
df['Earliest Release region'] = df['Earliest Release region'].str.rstrip(')')

# Loại bỏ dấu cách thừa ở đầu và cuối của cả hai cột
df['Earliest Release date'] = df['Earliest Release date'].str.strip()
df['Earliest Release region'] = df['Earliest Release region'].str.strip()

# Hiển thị DataFrame sau khi tách
df = df.drop('Earliest Release Date', axis=1)
# Di chuyển cột mới tạo đến thứ 2 và 3
col_date = df.columns[8]
col_reg = df.columns[9]
df.insert(2, col_date, df.pop(col_date))
df.insert(3, col_reg, df.pop(col_reg))
#in ra df
df

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1943,Orange,NaN,"December 12, 2015",Japan,NaN,2 hr 19 min,Comedy Drama Romance,A girl mysteriously receives advice from her f...,"['Tao Tsuchiya', 'Kento Yamazaki', 'Ryô Ryûsei...","['Kôjirô Hashimoto', 'Ichigo Takano', 'Arisa K..."
1944,Aloha,Sony Pictures Releasing,"May 29, 2015",Domestic,PG-13,1 hr 45 min,NaN,A celebrated military contractor returns to th...,"['Bradley Cooper', 'Rachel McAdams', 'Emma Sto...","['Cameron Crowe', 'Cameron Crowe', 'Cameron Cr..."
1945,Huevos: Little Rooster's Egg-cellent Adventure,Lionsgate Films,"August 20, 2015",LATAM,PG-13,1 hr 38 min,NaN,"Toto, a young chick born the run of the litter...","['Bruno Bichir', 'Carlos Espejel', 'Angélica V...","['Gabriel Riva Palacio Alatriste', 'Rodolfo Ri..."
1946,Dügün Dernek 2: Sünnet,NaN,"December 3, 2015",Germany,NaN,1 hr 52 min,Comedy,After seeing his son married in the first movi...,"['Ahmet Kural', 'Murat Cemcir', 'Rasim Öztekin...","['Selçuk Aydemir', 'Selçuk Aydemir', 'Fatih Do..."
1947,Look Who's Back,NaN,"October 8, 2015",EMEA,NaN,1 hr 56 min,Comedy Drama Fantasy,Adolf Hitler wakes up in the 21st century. He ...,"['Oliver Masucci', 'Thomas M. Köppl', 'Marc-Ma...","['David Wnendt', 'David Wnendt', 'Mizzi Meyer'..."

In [76]:
df.isnull().sum()

Name                         0
Domestic Distributor       659
Earliest Release date       60
Earliest Release region     62
MPAA                       872
Running Time                74
Genres                     579
Overview                    96
Actors                      74
Film makers                 74
dtype: int64

In [77]:
#lấy các phim có mục Genres (thể loại) không null
df = df[df['Genres'].notnull()]
df

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1940,Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,NaN,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"
1941,To the Fore,NaN,"August 6, 2015","China, APAC",NaN,2 hr 5 min,Drama Sport,Two sprinters compete in the cut throat world ...,"['Eddie Peng', 'Choi Siwon', 'Shawn Dou', 'Luo...","['Dante Lam', 'Sin-Yu Cheng', 'Silver Hau', 'D..."
1943,Orange,NaN,"December 12, 2015",Japan,NaN,2 hr 19 min,Comedy Drama Romance,A girl mysteriously receives advice from her f...,"['Tao Tsuchiya', 'Kento Yamazaki', 'Ryô Ryûsei...","['Kôjirô Hashimoto', 'Ichigo Takano', 'Arisa K..."
1946,Dügün Dernek 2: Sünnet,NaN,"December 3, 2015",Germany,NaN,1 hr 52 min,Comedy,After seeing his son married in the first movi...,"['Ahmet Kural', 'Murat Cemcir', 'Rasim Öztekin...","['Selçuk Aydemir', 'Selçuk Aydemir', 'Fatih Do..."
1947,Look Who's Back,NaN,"October 8, 2015",EMEA,NaN,1 hr 56 min,Comedy Drama Fantasy,Adolf Hitler wakes up in the 21st century. He ...,"['Oliver Masucci', 'Thomas M. Köppl', 'Marc-Ma...","['David Wnendt', 'David Wnendt', 'Mizzi Meyer'..."

In [78]:
#lấy các phim có mục Overview, Actors không null
df = df[(df['Overview'].notnull()) & (df['Actors'].notnull())]
df

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1940,Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,NaN,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"
1941,To the Fore,NaN,"August 6, 2015","China, APAC",NaN,2 hr 5 min,Drama Sport,Two sprinters compete in the cut throat world ...,"['Eddie Peng', 'Choi Siwon', 'Shawn Dou', 'Luo...","['Dante Lam', 'Sin-Yu Cheng', 'Silver Hau', 'D..."
1943,Orange,NaN,"December 12, 2015",Japan,NaN,2 hr 19 min,Comedy Drama Romance,A girl mysteriously receives advice from her f...,"['Tao Tsuchiya', 'Kento Yamazaki', 'Ryô Ryûsei...","['Kôjirô Hashimoto', 'Ichigo Takano', 'Arisa K..."
1946,Dügün Dernek 2: Sünnet,NaN,"December 3, 2015",Germany,NaN,1 hr 52 min,Comedy,After seeing his son married in the first movi...,"['Ahmet Kural', 'Murat Cemcir', 'Rasim Öztekin...","['Selçuk Aydemir', 'Selçuk Aydemir', 'Fatih Do..."
1947,Look Who's Back,NaN,"October 8, 2015",EMEA,NaN,1 hr 56 min,Comedy Drama Fantasy,Adolf Hitler wakes up in the 21st century. He ...,"['Oliver Masucci', 'Thomas M. Köppl', 'Marc-Ma...","['David Wnendt', 'David Wnendt', 'Mizzi Meyer'..."

In [79]:
df.isnull().sum()

Name                         0
Domestic Distributor       564
Earliest Release date        0
Earliest Release region      2
MPAA                       776
Running Time                 3
Genres                       0
Overview                     0
Actors                       0
Film makers                  0
dtype: int64

In [80]:
#lấy các phim có mục Domestic Distribution (nhà phát hành) không null
df = df[df['Domestic Distributor'].notnull()]
df

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1933,Mr. Holmes,Roadside Attractions,"June 19, 2015",United Kingdom,PG,1 hr 44 min,Crime Drama Family Mystery Thriller,"An aged, retired Sherlock Holmes deals with de...","['Ian McKellen', 'Laura Linney', 'Hiroyuki San...","['Bill Condon', 'Mitch Cullin', 'Jeffrey Hatch..."
1934,Love & Mercy,Roadside Attractions,"June 5, 2015",Domestic,PG-13,2 hr 1 min,Biography Drama Music,"In the 60s, Beach Boys leader Brian Wilson str...","['John Cusack', 'Paul Dano', 'Elizabeth Banks'...","['Bill Pohlad', 'Oren Moverman', 'Michael A. L..."
1937,The 33,Warner Bros.,"August 6, 2015",Chile,PG-13,2 hr 7 min,Biography Drama History,"Based on the real-life event, when a gold and ...","['Antonio Banderas', 'Rodrigo Santoro', 'Julie...","['Patricia Riggen', 'Mikko Alanne', 'Craig Bor..."
1939,Irrational Man,Sony Pictures Classics,"July 17, 2015",Domestic,R,1 hr 35 min,Comedy Crime Drama Romance,A tormented philosophy professor finds a will ...,"['Joaquin Phoenix', 'Emma Stone', 'Parker Pose...","['Woody Allen', 'Woody Allen', 'Letty Aronson'..."
1940,Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,NaN,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"

In [81]:
df.isnull().sum()

Name                         0
Domestic Distributor         0
Earliest Release date        0
Earliest Release region      2
MPAA                       239
Running Time                 0
Genres                       0
Overview                     0
Actors                       0
Film makers                  0
dtype: int64

In [82]:
# Thay các giá trị null trong trường 'MPAA' thành 'G' - phù hợp mọi lứa tuổi
df['MPAA'].fillna('G', inplace=True)
df.isnull().sum()

C:\Users\Admin\AppData\Local\Temp\ipykernel_2208\2192666240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MPAA'].fillna('G', inplace=True)

Name                       0
Domestic Distributor       0
Earliest Release date      0
Earliest Release region    2
MPAA                       0
Running Time               0
Genres                     0
Overview                   0
Actors                     0
Film makers                0
dtype: int64

In [83]:
# Thay các giá trị null trong trường 'Earliest Release region' thành 'domestic'
df.loc[:,'Earliest Release region'].fillna('domestic', inplace=True)
df

C:\Users\Admin\AppData\Local\Temp\ipykernel_2208\2982333377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'Earliest Release region'].fillna('domestic', inplace=True)

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1933,Mr. Holmes,Roadside Attractions,"June 19, 2015",United Kingdom,PG,1 hr 44 min,Crime Drama Family Mystery Thriller,"An aged, retired Sherlock Holmes deals with de...","['Ian McKellen', 'Laura Linney', 'Hiroyuki San...","['Bill Condon', 'Mitch Cullin', 'Jeffrey Hatch..."
1934,Love & Mercy,Roadside Attractions,"June 5, 2015",Domestic,PG-13,2 hr 1 min,Biography Drama Music,"In the 60s, Beach Boys leader Brian Wilson str...","['John Cusack', 'Paul Dano', 'Elizabeth Banks'...","['Bill Pohlad', 'Oren Moverman', 'Michael A. L..."
1937,The 33,Warner Bros.,"August 6, 2015",Chile,PG-13,2 hr 7 min,Biography Drama History,"Based on the real-life event, when a gold and ...","['Antonio Banderas', 'Rodrigo Santoro', 'Julie...","['Patricia Riggen', 'Mikko Alanne', 'Craig Bor..."
1939,Irrational Man,Sony Pictures Classics,"July 17, 2015",Domestic,R,1 hr 35 min,Comedy Crime Drama Romance,A tormented philosophy professor finds a will ...,"['Joaquin Phoenix', 'Emma Stone', 'Parker Pose...","['Woody Allen', 'Woody Allen', 'Letty Aronson'..."
1940,Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,G,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"

In [84]:
df.isnull().sum()

Name                       0
Domestic Distributor       0
Earliest Release date      0
Earliest Release region    0
MPAA                       0
Running Time               0
Genres                     0
Overview                   0
Actors                     0
Film makers                0
dtype: int64

In [85]:
#chuyển tên các phim thành 1 list
list_name = df['Name'].tolist()

In [86]:

#khởi tạo dataframe chưa doanh thu của 773 film trên
film_revenue = pd.DataFrame()

# Đọc file CSV vào DataFrame
df_1 = pd.read_csv('data.csv')
# Lọc các dòng chứa tên film từ tập hợp parent_asin_set
film_revenue = df_1[df_1['Release Group'].isin(list_name)]

# In ra DataFrame
film_revenue

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,Dune: Part Two,"$697,757,968","$277,757,968",39.8%,"$420,000,000",60.2%,2024
1,2,Godzilla x Kong: The New Empire,"$489,580,032","$174,480,032",35.6%,"$315,100,000",64.4%,2024
2,3,Kung Fu Panda 4,"$482,850,846","$181,449,090",37.6%,"$301,401,756",62.4%,2024
3,4,Ghostbusters: Frozen Empire,"$177,549,359","$104,137,915",58.7%,"$73,411,444",41.3%,2024
4,5,Bob Marley: One Love,"$177,193,170","$96,893,170",54.7%,"$80,300,000",45.3%,2024
...,...,...,...,...,...,...,...,...
2001,184,Mr. Holmes,"$29,355,203","$17,737,646",60.4%,"$11,617,557",39.6%,2015
2002,185,Love & Mercy,"$28,641,776","$12,551,031",43.8%,"$16,090,745",56.2%,2015
2005,188,The 33,"$27,972,023","$12,227,722",43.7%,"$15,744,301",56.3%,2015
2007,190,Irrational Man,"$27,391,084","$4,030,360",14.7%,"$23,360,724",85.3%,2015
2008,191,Detective K: Secret of the Lost Island,"$27,387,870","$185,367",0.7%,"$27,202,503",99.3%,2015

In [87]:
#lọc các trường cần cho output
film_revenue = film_revenue.loc[:,['Rank','Release Group','Worldwide','Domestic']]
film_revenue

     Rank                           Release Group     Worldwide      Domestic
0       1                          Dune: Part Two  $697,757,968  $277,757,968
1       2         Godzilla x Kong: The New Empire  $489,580,032  $174,480,032
2       3                         Kung Fu Panda 4  $482,850,846  $181,449,090
3       4             Ghostbusters: Frozen Empire  $177,549,359  $104,137,915
4       5                    Bob Marley: One Love  $177,193,170   $96,893,170
...   ...                                     ...           ...           ...
2001  184                              Mr. Holmes   $29,355,203   $17,737,646
2002  185                            Love & Mercy   $28,641,776   $12,551,031
2005  188                                  The 33   $27,972,023   $12,227,722
2007  190                          Irrational Man   $27,391,084    $4,030,360
2008  191  Detective K: Secret of the Lost Island   $27,387,870      $185,367

[761 rows x 4 columns]

In [93]:
list = film_revenue['Release Group'].tolist()
print(len(list))

761

In [94]:
# Lọc các dòng chứa tên film từ tập hợp list
film_revenue_final = pd.DataFrame()
film_revenue_final = df[df['Name'].isin(list)]

In [95]:
film_revenue_final.shape[0]

761

In [96]:
film_revenue_final

,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
1,Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
2,Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
3,Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
4,Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
5,Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...
1933,Mr. Holmes,Roadside Attractions,"June 19, 2015",United Kingdom,PG,1 hr 44 min,Crime Drama Family Mystery Thriller,"An aged, retired Sherlock Holmes deals with de...","['Ian McKellen', 'Laura Linney', 'Hiroyuki San...","['Bill Condon', 'Mitch Cullin', 'Jeffrey Hatch..."
1934,Love & Mercy,Roadside Attractions,"June 5, 2015",Domestic,PG-13,2 hr 1 min,Biography Drama Music,"In the 60s, Beach Boys leader Brian Wilson str...","['John Cusack', 'Paul Dano', 'Elizabeth Banks'...","['Bill Pohlad', 'Oren Moverman', 'Michael A. L..."
1937,The 33,Warner Bros.,"August 6, 2015",Chile,PG-13,2 hr 7 min,Biography Drama History,"Based on the real-life event, when a gold and ...","['Antonio Banderas', 'Rodrigo Santoro', 'Julie...","['Patricia Riggen', 'Mikko Alanne', 'Craig Bor..."
1939,Irrational Man,Sony Pictures Classics,"July 17, 2015",Domestic,R,1 hr 35 min,Comedy Crime Drama Romance,A tormented philosophy professor finds a will ...,"['Joaquin Phoenix', 'Emma Stone', 'Parker Pose...","['Woody Allen', 'Woody Allen', 'Letty Aronson'..."
1940,Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,G,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"

In [97]:
# Gộp dataframe dựa trên cột chung là 'Name' và 'Release Group'
merged_df = pd.merge(film_revenue, film_revenue_final, how='inner', left_on='Release Group', right_on='Name')

# Loại bỏ cột 'Release Group' sau khi gộp
merged_df.drop(columns=['Release Group'], inplace=True)

merged_df

,Rank,Worldwide,Domestic,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
0,1,"$697,757,968","$277,757,968",Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,Action Adventure Drama Sci-Fi,Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
1,2,"$489,580,032","$174,480,032",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,Action Adventure Sci-Fi Thriller,"Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,3,"$482,850,846","$181,449,090",Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,Action Adventure Animation Comedy Family Fantasy,After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,4,"$177,549,359","$104,137,915",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,Adventure Comedy Fantasy Sci-Fi,When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,5,"$177,193,170","$96,893,170",Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,Biography Drama Music,The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,184,"$29,355,203","$17,737,646",Mr. Holmes,Roadside Attractions,"June 19, 2015",United Kingdom,PG,1 hr 44 min,Crime Drama Family Mystery Thriller,"An aged, retired Sherlock Holmes deals with de...","['Ian McKellen', 'Laura Linney', 'Hiroyuki San...","['Bill Condon', 'Mitch Cullin', 'Jeffrey Hatch..."
764,185,"$28,641,776","$12,551,031",Love & Mercy,Roadside Attractions,"June 5, 2015",Domestic,PG-13,2 hr 1 min,Biography Drama Music,"In the 60s, Beach Boys leader Brian Wilson str...","['John Cusack', 'Paul Dano', 'Elizabeth Banks'...","['Bill Pohlad', 'Oren Moverman', 'Michael A. L..."
765,188,"$27,972,023","$12,227,722",The 33,Warner Bros.,"August 6, 2015",Chile,PG-13,2 hr 7 min,Biography Drama History,"Based on the real-life event, when a gold and ...","['Antonio Banderas', 'Rodrigo Santoro', 'Julie...","['Patricia Riggen', 'Mikko Alanne', 'Craig Bor..."
766,190,"$27,391,084","$4,030,360",Irrational Man,Sony Pictures Classics,"July 17, 2015",Domestic,R,1 hr 35 min,Comedy Crime Drama Romance,A tormented philosophy professor finds a will ...,"['Joaquin Phoenix', 'Emma Stone', 'Parker Pose...","['Woody Allen', 'Woody Allen', 'Letty Aronson'..."
767,191,"$27,387,870","$185,367",Detective K: Secret of the Lost Island,CJ Entertainment,"February 11, 2015",South Korea,G,2 hr 4 min,Action Adventure Comedy Mystery,Joseon's top detective Kim Min attempts to tra...,"['Kim Myung-min', 'Lee Yeon-hee', 'Oh Dal-su',...","['Suk-Yoon Kim', 'Tak-Hwan Kim']"

In [98]:
merged_df['Genres'].dtype

dtype('O')

In [99]:
merged_df['Genres'] = merged_df['Genres'].apply(lambda x : x.split())
merged_df['Genres']

0                     [Action, Adventure, Drama, Sci-Fi]
1                  [Action, Adventure, Sci-Fi, Thriller]
2      [Action, Adventure, Animation, Comedy, Family,...
3                   [Adventure, Comedy, Fantasy, Sci-Fi]
4                              [Biography, Drama, Music]
                             ...
763            [Crime, Drama, Family, Mystery, Thriller]
764                            [Biography, Drama, Music]
765                          [Biography, Drama, History]
766                      [Comedy, Crime, Drama, Romance]
767                 [Action, Adventure, Comedy, Mystery]
Name: Genres, Length: 768, dtype: object

In [102]:
merged_df['Genres'] = merged_df['Genres'].astype(str)
merged_df['Genres']

0             ['Action', 'Adventure', 'Drama', 'Sci-Fi']
1          ['Action', 'Adventure', 'Sci-Fi', 'Thriller']
2      ['Action', 'Adventure', 'Animation', 'Comedy',...
3           ['Adventure', 'Comedy', 'Fantasy', 'Sci-Fi']
4                        ['Biography', 'Drama', 'Music']
                             ...
763    ['Crime', 'Drama', 'Family', 'Mystery', 'Thril...
764                      ['Biography', 'Drama', 'Music']
765                    ['Biography', 'Drama', 'History']
766              ['Comedy', 'Crime', 'Drama', 'Romance']
767         ['Action', 'Adventure', 'Comedy', 'Mystery']
Name: Genres, Length: 768, dtype: object

In [103]:
merged_df.dtypes

Rank                       object
Worldwide                  object
Domestic                   object
Name                       object
Domestic Distributor       object
Earliest Release date      object
Earliest Release region    object
MPAA                       object
Running Time               object
Genres                     object
Overview                   object
Actors                     object
Film makers                object
dtype: object

In [109]:
merged_df['Rank'] = merged_df['Rank'].astype('int64')
merged_df.head()

,Rank,Worldwide,Domestic,Name,Domestic Distributor,Earliest Release date,Earliest Release region,MPAA,Running Time,Genres,Overview,Actors,Film makers
0,1,"$697,757,968","$277,757,968",Dune: Part Two,Warner Bros.,"February 28, 2024","EMEA, APAC",PG-13,2 hr 46 min,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",Paul Atreides unites with Chani and the Fremen...,"['Timothée Chalamet', 'Zendaya', 'Rebecca Ferg...","['Denis Villeneuve', 'Denis Villeneuve', 'Jon ..."
1,2,"$489,580,032","$174,480,032",Godzilla x Kong: The New Empire,Warner Bros.,"March 27, 2024",APAC,PG-13,1 hr 55 min,"['Action', 'Adventure', 'Sci-Fi', 'Thriller']","Two ancient titans, Godzilla and Kong, clash i...","['Rebecca Hall', 'Brian Tyree Henry', 'Dan Ste...","['Adam Wingard', 'Terry Rossio', 'Simon Barret..."
2,3,"$482,850,846","$181,449,090",Kung Fu Panda 4,Universal Pictures,"March 6, 2024","APAC, EMEA",PG,1 hr 34 min,"['Action', 'Adventure', 'Animation', 'Comedy',...",After Po is tapped to become the Spiritual Lea...,"['Jack Black', 'Awkwafina', 'Viola Davis', 'Du...","['Mike Mitchell', 'Stephanie Stine', 'Jonathan..."
3,4,"$177,549,359","$104,137,915",Ghostbusters: Frozen Empire,Sony Pictures Releasing,"March 20, 2024",Indonesia,PG-13,1 hr 55 min,"['Adventure', 'Comedy', 'Fantasy', 'Sci-Fi']",When the discovery of an ancient artifact unle...,"['Paul Rudd', 'Carrie Coon', 'Finn Wolfhard', ...","['Gil Kenan', 'Gil Kenan', 'Jason Reitman', 'I..."
4,5,"$177,193,170","$96,893,170",Bob Marley: One Love,Paramount Pictures,"February 14, 2024",11 markets,PG-13,1 hr 47 min,"['Biography', 'Drama', 'Music']",The story of how reggae icon Bob Marley overca...,"['Kingsley Ben-Adir', 'Lashana Lynch', 'James ...","['Reinaldo Marcus Green', 'Terence Winter', 'F..."

In [113]:
#chuyển doanh thu worldwide về dạng float
merged_df['Worldwide'] = merged_df['Worldwide'].str.replace('$', '')
merged_df['Worldwide'] = merged_df['Worldwide'].str.replace(',','').astype(float)
merged_df['Worldwide']

0      697757968.0
1      489580032.0
2      482850846.0
3      177549359.0
4      177193170.0
          ...
763     29355203.0
764     28641776.0
765     27972023.0
766     27391084.0
767     27387870.0
Name: Worldwide, Length: 768, dtype: float64

In [129]:
#chuyển doanh thu domestic về dạng float
merged_df['Domestic'] = merged_df['Domestic'].str.replace('$', '')
merged_df['Domestic'] = merged_df['Domestic'].str.replace(',','')
merged_df['Domestic']

0      277757968
1      174480032
2      181449090
3      104137915
4       96893170
         ...
763     17737646
764     12551031
765     12227722
766      4030360
767       185367
Name: Domestic, Length: 768, dtype: object

In [130]:
merged_df.to_csv('preprocessed_data.csv')